
@font-face {
  font-family: 'Kraft';
  src: url('Kraft.eot?#iefix') format('embedded-opentype'),  url('Kraft.otf')  format('opentype'),
	     url('Kraft.woff') format('woff'), url('Kraft.ttf')  format('truetype'), url('Kraft.svg#Kraft') format('svg');
  font-weight: normal;
  font-style: normal;
}
