
@font-face {
  font-family: 'RosbankSansTTLight';
  src: url('RosbankSansTTLight.eot?#iefix') format('embedded-opentype'),  url('RosbankSansTTLight.woff') format('woff'), url('RosbankSansTTLight.ttf')  format('truetype'), url('RosbankSansTTLight.svg#RosbankSansTTLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
